body, p, img, section {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: calibri, arial, helvetica, sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 3px #000;
}
#wrapper {
  width: 90%;
  margin: 0 5%;
  position: absolute;
}
.iphone-container {
  position: absolute;
  width: 270px;
  right: 0;
}
.iphone-screen, .placeholder {
  position: fixed;
  z-index: 2;
  transition: opacity 1s ease-in-out;
  -webkit-backface-visibility: hidden;
  img {
    width: 232px;
    margin-left: 19px;
    margin-top: 83px;
  }
}
.placeholder {
  z-index: 1;
  opacity: 1;
  .placeholder-image {
    width: 232px;
    height: 409px;
    background: #000;
    margin-left: 19px;
    margin-top: 83px;
  }
}
#iphone {
  width: 270px;
  height: auto;
  position: fixed;
  z-index: 9999;
}
.mobile-image {
  display: none;
}
.slide {
  width: 100%;
  height: auto;
  min-height: 580px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  .content {
    width: 90%;
    margin: 0 5%;
    max-width: 1000px;
    height: 100%;
    position: absolute;
    font-size: 0;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    .centerize {
      display: inline-block;
      vertical-align: middle;
      width: 40%;
      font-size: 30px;
    }
  }
}
@media (min-width: 1111px) {
  #wrapper {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
  }
  .slide {
    .content {
      width: 1000px;
      left: 50%;
      margin-left: -500px;
    }
  }
}
@media (max-width: 720px) {
  .slide {
    min-height: 700px;
    background-attachment: initial;
    background-position: center center !important;
    .content {
      height: 50%;
      text-align: center;
      .centerize {
        width: 100%;
        vertical-align: top;
        padding-top: 100px;
      }
      .mobile-image {
        display: block;
        top: 69%;
        position: absolute;
        width: 260px;
        left: 50%;
        margin-left: -130px;
        img {
          width: 260px;
        }
      }
    }
  }
  #wrapper {
    display: none;
  }
}